.BOARD {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff7f;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px;
    border: solid 2px #3a393b91;
}


.IMG {
    width: 70px;
    height: 70px;
}